{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        <!-- 게시일 필드가 비었을 경우 / post_publish 메소드 호출-->
        {% else %}
            <a class="btn btn-default" href="url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}

        <!-- 사용자가 로그인을 했을 경우 이벤트-->
        {% if user.is_authenticated %}
            <!-- 글리프콘 지정 / 게시글 수정 버튼-->
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <!-- 게시판 삭제 버튼(글리프콘 사용)-->
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}

        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}